/* fuente */
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@200;400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}
:root{
  --pri-color: #4185c5;
}
html {
  scroll-behavior: smooth;
}

/* INICIO */

#inicio {
  background: linear-gradient(rgba(0,0,0, .7),rgba(0,0,0, .7)),url("img/back.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
}
#inicio .contenido header {
  background-color: rgba(0, 4, 65, 0.8);
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}
#inicio .contenido .contenido-header .logo{
  margin-right: 10px;
  transition: .5s;
  height: 5vh;
}
#inicio .contenido header .contenido-header {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
#inicio .contenido header .contenido-header h1 {
  text-align: center;
  color: var(--pri-color);
}
#inicio .contenido header .contenido-header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}
#inicio .contenido header .contenido-header nav ul li a {
  text-decoration: none;
  color: #fff;
  margin: 0 12px;
  font-weight: 400;
  transition: .5s;
}
#inicio .contenido header .contenido-header nav ul a:hover{
  color: var(--pri-color);
}
#inicio .contenido header .contenido-header .redes a {
  font-size: 3vh;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin-left: 10px;
  transition: .5s;
}
#inicio .contenido header .contenido-header .redes a:hover {
  color: var(--pri-color);
}
#inicio .contenido header .contenido-header .seleccionado {
  color: var(--pri-color);
}
#inicio .contenido .presentacion {
  max-width: 1100px;
  height: 100vh;
  margin: auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#inicio .contenido .presentacion .bienvenida {
  font-size: 16px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 5px; 
}
#inicio .contenido .presentacion h2 {
  font-size: 55px;
  margin-bottom: 25px;
  text-align: center;
}
#inicio .contenido .presentacion h2 span {
  font-size: 25px;
  color: var(--pri-color);
}
#inicio .contenido .presentacion .descripcion {
  max-width: 700px;
  margin: 25px auto;
  font-size: 18px;
  text-align: center;
}
#inicio .contenido .presentacion a {
  text-decoration: none;
  display: inline-block;
  margin: 25px;
  padding: 20px 25px;
  border: 2px solid #fff;
  border-radius: 50px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  transition: .5s;
}
#inicio .contenido .presentacion a:hover {
  background-color: var(--pri-color);
}
#icono-nav{
  color: #fff;
  display: none;
}
/* SECCION SOBREMI */
#sobremi{
  max-width: 1100px;
  margin: auto;
  padding: 100px 15px;
  color: #111135;
  display: flex;
}
#sobremi .contenedor-foto {
  max-width: 400px;
  margin-right: 80px;
}
#sobremi .contenedor-foto img {
  padding: 20px;
  width: 100%;
  border-radius: 20px;
  background-color: #3e7088;
}
#sobremi .sobremi {
  margin: 0 40px;
}
#sobremi .sobremi .titulo-seccion {
  font-size: 22px;
  text-transform: uppercase;
  color: #d3d3d3;
  text-decoration-thickness: 5px;
}
#sobremi .sobremi h2 {
  font-size: 34px;
  font-weight: bold;
  margin: 20px 0;
  letter-spacing: 2px;
}
#sobremi .sobremi h3 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
#sobremi .sobremi p {
  font-size: 14px;
  line-height: 25px;
  color: #565656;
  margin-bottom: 12px;
}
#sobremi .sobremi a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  border-radius: 30px;
  border: 1px solid #000;
  padding: 10px 20px;
  margin-top: 30px;
  transition: .5s; 
}
#sobremi .sobremi a:hover {
  background-color:var(--pri-color);
  color: #fff;
}

/* SECCION SERVICIOS */

#servicios{
  background: linear-gradient(#2b49f756, rgb(8, 10, 33)),url("img/back2.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 100px 15px;
  text-align: center;
}
#servicios .titulo-seccion {
  font-size: 22px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: #d3d3d3;
  text-decoration-thickness: 5px;
}
#servicios .fila {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 30px auto;
}
#servicios .fila .servicio {
  max-width: 350px;
  background-color: #fff;
  padding: 30px;
  margin: 0 5px;
  border-radius: 5px;
  transition: .5s;
}
#servicios .fila .servicio:hover {
  box-shadow: 5px 5px 5px #565656, -5px -5px 10px #8a8a8a;
}
.servicios .fila .servicio h4 {
  font-size: 22px;
  margin-bottom: 25px;
}
#servicios .fila .servicio .icono {
  font-size: 5vh;
  display: inline-block;
  width: 60px;
  height: 60px;
  color: #000;
  border-radius: 50%;
  background-color: #d3d3d3;
  padding: 10px;
  margin-bottom: 25px;
}
#servicios .fila .servicio hr {
  width: 30%;
  margin: auto;
  color: #000;
  margin-bottom: 25px;
}
#servicios .fila .servicio ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
#servicios .fila .servicio p {
  font-size: 14px;
  line-height: 22px;
}

/* SESSION ENDEREÇO */

#endereco{
  max-width: 1100px;
  margin: auto;
  padding: 100px 15px;
  color: #111135;
  display: flex;
}
#endereco .contenedor-foto {
  max-width: 400px;
  margin-right: 80px;
}
#endereco .contenedor-foto iframe {
  padding: 20px;
  width: 200%;
  border-radius: 20px;
  background-color: #3e7088;
}
#endereco .end {
  margin: 0 50px;
  margin-left: 250px;
}
#endereco .end .titulo-seccion {
  font-size: 22px;
  text-transform: uppercase;
  color: #d3d3d3;
  text-decoration-thickness: 5px;
}
#endereco .end h2 {
  font-size: 34px;
  font-weight: bold;
  margin: 20px 0;
  letter-spacing: 2px;
}
#endereco .end h3 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
#endereco .end p {
  font-size: 14px;
  line-height: 25px;
  color: #565656;
  margin-bottom: 12px;
}
#endereco .end a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  border-radius: 30px;
  border: 1px solid #000;
  padding: 10px 20px;
  margin-top: 30px;
  transition: .5s; 
}
#endereco .end a:hover {
  background-color:var(--pri-color);
  color: #fff;
}

/* SERVIÇOS */

#servicos {
  max-width: 1100px;
  padding: 100px 0;
  margin: auto;
}
#servicos .titulo-seccion {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  color: #111135;
  text-decoration: underline;
  text-decoration-color: #d3d3d3;
  text-decoration-thickness: 5px;
}
#servicos .fila {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
#servicos .fila .serv {
  max-width: 450px;
  border: 1px solid #000;
  margin: 0 10px;
  position: relative;
  overflow: hidden;
}
#servicos .fila .serv img {
  width: 100%;
  height: 100%;
  ;
  filter: grayscale(1);
  object-fit: cover;
  transition: .5s;
}
#servicos .fila .serv:hover img {
  filter: grayscale(0);
}
#servicos .fila .serv .info {
  position: absolute;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--pri-color);
  width: 100%;
  padding: 10px;
  opacity: 0;
  bottom: -40px;
  transition: .5s;
}
#servicos .fila .serv:hover .info {
  opacity: 1;
  bottom: 0;
}

/* CONTACTO */

#contacto {
  padding: 100px 15px;
  background-color: #f3f3f3;
}

#contacto .titulo-seccion {
  margin-bottom: 20px;
}

#contacto .contenedor-form {
  max-width: 1100px;
  margin: auto;
}

#contacto .contenedor-form .fila {
  margin-bottom: 15px;
}

#contacto .contenedor-form .mitad {
  display: flex;
  justify-content: space-between;
}

#contacto .contenedor-form input,
#contacto .contenedor-form textarea {
  padding: 20px;
  border-radius: 20px;
  border: none;
  border: 1px solid #919191;
}

#contacto .contenedor-form .mitad input {
  width: 48%;
}

#contacto .contenedor-form .input-full {
  width: 100%;
}

#contacto .titulo-seccion {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  color: #111135;
  text-decoration: underline;
  text-decoration-color: #d3d3d3;
  text-decoration-thickness: 5px;
}

#contacto .btn-enviar {
  display: block;
  margin: auto;
  cursor: pointer;
  transition: .5s;
  padding: 10px 15px !important;
}

#contacto .btn-enviar:hover {
  background-color: var(--pri-color);
  color: #fff;
}
footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 30px 0;
}

footer a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin: 5px;
  font-size: 26px;
}

/* RESPONSIVE */

@media screen and (max-width: 800px) {
  .redes {
    display: flex;
    justify-content:center;
    color: #919191;
    /* display: none; */
  }
  nav {
    justify-content:center;
      display: none;
  }
  nav.responsive {
      display: block;
      background-color: rgba(0, 0, 0, .8);
      width: 100%;
      position:absolute;
      top: 48px;
      left: 0;
      padding: 10px 0;
  }
  nav.responsive ul {
      display: block !important;
      text-align: center;
  }
  nav.responsive ul li {
      margin: 5px 0;
  }
  #icono-nav {
    color: #919191;
      display: block;
      font-size: 4vh;
  }
  #inicio .contenido .contenido-header .logo{
    margin-right: 10px;
    transition: .5s;
    height: 4vh;
  }
  #inicio .contenido .presentacion h2 {
      font-size: 40px;
  }
  /* seccion SOBRE */
  #sobremi {
      padding: 50px 0;
      display: block;
  }
  #sobremi .contenedor-foto {
      max-width: 200px;
      margin: auto;
  }
  #sobremi .contenedor-foto img {
      padding: 8px;
  }
  #sobremi .sobremi .titulo-seccion {
      text-align: center;
  }
  #sobremi .sobremi h2 {
      font-size: 25px;
      text-align: center;
  }
  /* seccion SERVICOS */
  #servicios {
      padding: 50px 15px;
  }
  #servicios .fila {
      display: block;
  }
  #servicios .fila .servicio {
      margin: 10px auto;
  }
  /* seccion ENDEREÇO */
  #endereco {
    padding: 50px 0;
    display: block;
}
#endereco .contenedor-foto {
    max-width: 200px;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content:center;
}
#endereco .contenedor-foto iframe {
    padding: 8px;
}
#endereco .end{
  margin: 0;
  text-align: center; 
}
#endereco .end .titulo-seccion {
  text-align: center;
}
#endereco .end h2 {
  font-size: 25px;
  text-align: center;
}
  /* seccion PORTFOLIO */
  #portfolio {
      padding: 50px 0;
  }
  #portfolio .fila {
      display: block;
  }
  #portfolio .fila .proyecto {
      margin: 10px auto;
  }
  /* seccion CONTACTO */
  #contacto {
      padding: 50px 15px;
  }
  #contacto .contenedor-form .mitad {
      margin-bottom: 15px;
      display: block;
  }
  #contacto .contenedor-form .mitad input {
      width: 100%;
      margin-bottom: 15px;
  }
}